<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/typesafe.min.css">
    <link rel="stylesheet" href="/css/basscss.min.css">
    <link rel="stylesheet" href="/css/dark-mode.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>backlog cleaner</title>
</head>
<body>
    <div class="dark-mode-container">
        <input id="darkSwitch" type="checkbox" />
        <label class="dark-mode-btn" for="darkSwitch">🌒</label>
    </div>
    <main>
        <nav>
            <a href="/">home</a>

            <% if (it.sessionUser && it.sessionUser.username !== undefined) { -%>
                <a href="<%= it.sessionUser.username.trim() -%>">dashboard</a>
                <a href="/logout">logout</a>
            <% } else { -%>
                <a href="/login">login</a>
                <a href="/signup">signup</a>
            <% } -%>
        </nav>
