<%- include('_includes/header.ejs', { user: it.sessionUser }) %>

<main>
    <h1>create list</h1>

    <form action="/<%= it.sessionUser.username %>/list/create" method="post">
        <fieldset>
            <label for="listname">listname:</label>
            <input id="listname" name="listname" type="text" maxlength="30">
        </fieldset>
        <button type="submit">submit</button>
    </form>

    <% if (it.error) { %>
        <p>error: <%= it.error %></p>
    <% } %>
</main>

<%- include('_includes/footer.ejs') %>