<%- include('_includes/header.ejs') %>

<main>
    <h1>sign up</h1>

    <form action="/signup" method="post">
        <fieldset>
            <label for="username">username:</label>
            <input id="username" name="username" type="text" maxlength="30" required>

            <label for="password">password:</label>
            <input id="password" name="password" type="password" minlength="8" required>

            <label for="confirm_password">confirm password:</label>
            <input id="confirm_password" name="confirm_password" type="password" minlength="8" required>

            <label for="phone" class="escondido">phone:</label>
            <input id="phone" name="phone" type="phone" class="escondido" tabindex="-1">
        </fieldset>
        <button type="submit">submit</button>
    </form>

    <% if (it.error) { %>
        <p>error: <%= it.error %></p>
    <% } %>
</main>

<%- include('_includes/footer.ejs') %>