/*Icons*/
i {
    height: 16px;
    width: 16px;
    display: inline-block;
    font-size: inherit;
    margin-right: 0.15rem;
}

i.add { background-image: url('/assets/add.png'); }
i.edit { background-image: url('/assets/edit.png'); }
i.remove { background-image: url('/assets/remove.png'); }
i.delete { background-image: url('/assets/delete.png'); }
i.sort { background-image: url('/assets/sort.png'); }
i.save { background-image: url('/assets/save.png'); }
i.cancel { background-image: url('/assets/cancel.png'); }
i.editor { background-image: url('/assets/editor.png'); }
i.bookmark { background-image: url('/assets/bookmark.png'); }
i.internet { background-image: url('/assets/internet.png'); }
i.move { background-image: url('/assets/move.png'); height: 18px; width: 18px; }

body { max-width: 48rem; }
h1, h2, h3, h4, h5, h6 { font-family: monospace; }
fieldset { border: 0; padding: 0; margin: 1rem auto; }

input, input:focus, input:active {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

input[type="text"], input[type="password"] {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    padding: 0.5rem;
}

/*Buttons*/
button {
    font-family: monospace;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

button:hover { background-color: rgba(0, 0, 0, 0.1); }
button:focus { background-color: rgba(0, 0, 0, 0.2); }
button[disabled], button[disabled]:hover { opacity: 0.6; background-color: rgba(0, 0, 0, 0); }

button.item-control,
button.section-control {
    padding: 0.3rem;
    margin-right: 0.4rem;
    font-size: 0.8em;
    z-index: 9;
}

button.list-control {
    padding: 0.45rem;
    margin-right: 0.4rem;
    font-size: 0.8em;
    z-index: 9;
}

/*List*/
.list-controls {
    height: 3em;
    display: flex;
    align-items: center;
}

.list-controls > input {
    margin-right: 1rem;
}


/*Item*/
.item-list {
    padding-left: 1rem;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    align-items: center;
}

.item-name {
    display: flex;
    align-items: center;
}

.item-data {
    display: flex;
    align-items: center;
    padding: 0 0.4em;
}

.item,
.item-name,
.item-data {
    height: 1.8em;
}

a.item-url {
    line-height: 1;
}

.item-controls:not(.is-being-used) {
    opacity: 0;
}

.item:hover .item-controls,
.item-controls:hover {
    opacity: 1;
}

/*Section*/
.section {
    margin: 1.6rem 0;
}

.section-header {
    height: 3em;
    display: flex;
    align-items: center;
}

.section-header h2 {
    margin: 0 0;
}

.section-controls {
    padding: 0 1rem;
}

.section-header:hover .section-controls,
.section-controls:hover {
    opacity: 1;
}

.section-controls:not(.is-being-used) {
    opacity: 0;
}

.section-handle {
    display: inline;
    vertical-align: text-bottom;
    margin-right: 0.4rem;
}

.short-section {
    height: 97px;
    overflow: hidden;
}

/*SortableJS*/
.draggable { user-select: none; cursor: -webkit-grab; cursor: grab; }
.dragging { background-color: red; cursor: -webkit-grabbing; cursor: grabbing; }
.dropping { background-color: greenyellow; }

/*Utility*/
.opacity-100 { opacity: 1; }
.opacity-25 { opacity: 0.25; }
.escondido { display: none; } /*honeypot*/

/*etto*/
.etto-input-container { width: 100%; display: flex; }
.etto-clear-btn { align-self: center; top: 0rem; }
.etto-spinner { align-self: center; line-height: 0; }
.etto-spinner-dot { background-color: black; }
.etto-dropdown { border: 1px solid #d1d1d1; font-family: monospace; transition: all 0.5s; background-color: white; }
.etto-ul { padding: 0; margin: 0; }
.etto-li { padding: 6px; margin: 0; }
.etto-li * { pointer-events: none; }
.etto-highlighted, .etto-li:hover:not(.etto-selected) { background-color: rgba(0, 0, 0, 0.1); }
.etto-selected { background-color: #4c4cff; color: white; }