body { max-width: 48rem; }
h1, h2, h3, h4, h5, h6 { font-family: monospace; }
fieldset { border: 0; padding: 0; margin: 1rem auto; }

input, input:focus, input:active {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

input[type="text"], input[type="password"] {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    padding: 0.5rem;
}

button {
    font-family: monospace;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

button:hover { background-color: rgba(0, 0, 0, 0.1); }
button:focus { background-color: rgba(0, 0, 0, 0.2); }
button[disabled], button[disabled]:hover { opacity: 0.6; background-color: rgba(0, 0, 0, 0); }

table { margin: 1rem 0; }
tr:nth-of-type(1) { border-top: 1px solid rgba(100, 100, 100, 0.2); }
tr { border-bottom: 1px solid rgba(100, 100, 100, 0.2); }

/*Icons*/
i {
    height: 16px;
    width: 16px;
    display: inline-block;
    font-size: inherit;
    vertical-align: text-bottom;
    margin-right: 0.15rem;
}

i.add { background-image: url('/assets/add.png'); }
i.edit { background-image: url('/assets/edit.png'); }
i.remove { background-image: url('/assets/remove.png'); }
i.delete { background-image: url('/assets/delete.png'); }
i.sort { background-image: url('/assets/sort.png'); }
i.save { background-image: url('/assets/save.png'); }
i.cancel { background-image: url('/assets/cancel.png'); }
i.move { background-image: url('/assets/move.png'); height: 18px; width: 18px; }

/*Buttons*/
button.item-control, button.section-control {
    padding: 0.3rem;
    margin-right: 0.4rem;
    font-size: 0.8em;
    z-index: 9;
}

/*List*/
.list-controls {
    display: inline-block;
    z-index: 9;
    height: 32.38px;
    width: auto;
}

.list-control, .section-control, input.list-control, input.section-control { display: inline; }
input.list-control, input.section-control { margin-right: 0.4rem; }

button.list-control {
    padding: 0.45rem;
    margin-right: 0.4rem;
    font-size: 0.8em;
    z-index: 9;
}

/*Item*/
.item {
    height: 50px;
    width: 100%;
}

.item-table { margin: 0 0; }

.item-name, .item-data {
    width: 30%;
    text-align: left;
}

.item-name input, .item-data input {
    min-width: 0px;
    width: 100%;
}

.item-controls {
    width: 40%;
    text-align: right;
}

.item-controls:not(.is-being-used) {
    opacity: 0;
}

.item:hover .item-controls, .item-controls:hover { opacity: 1; }

/*Section*/
header.section-header > h2 {
    display: inline-block;
}

.section-header:hover .section-controls, .section-controls:hover { opacity: 1; }

.section-controls {
    display: inline-block;
    z-index: 9;
    margin-left: 1rem;
}

.section-controls:not(.is-being-used) {
    opacity: 0;
}

.section-handle {
    display: inline;
    vertical-align: text-bottom;
    margin-right: 0.4rem;
}

.short-section {
    height: 97px;
    overflow: hidden;
}

/*SortableJS*/
.draggable { user-select: none; cursor: -webkit-grab; cursor: grab; }
/*.drag * { pointer-events: none; }*/
.dragging { background-color: red; cursor: -webkit-grabbing; cursor: grabbing; }
.dropping { background-color: greenyellow; }

/*Utility*/
.opacity-100 { opacity: 1; }
.opacity-25 { opacity: 0.25; }
.escondido { display: none; } /*honeypot*/