<h1>login</h1>

<form action="#" method="post">
    <fieldset>
        <label for="username-input">username:</label>
        <input id="username-input" type="text" maxlength="30" required>

        <label for="password-input">password:</label>
        <input id="password-input" type="password" minlength="8" required>

        <label for="confirm-password-input">confirm password:</label>
        <input id="confirm-password-input" type="password" minlength="8" required>
    </fieldset>
    <button type="submit">submit</button>
</form>